
.container {
  padding: 2rem;
  margin: 2rem auto;
  @include display_flex;

  .card {
    background: $blue-card;
    padding: 2rem;
    margin: 2rem;
    border-radius: $radius;
    width: 42rem;

    &:hover {
      //opacity: 0.7;
    }

    .card-img {
      img {
        border-radius: $radius;
        cursor: pointer;
        position: relative;
        //width: 100%;
        width: 38rem;
        height: 38rem;

      }
      .image-overlay{
        position: absolute;
        top: 8rem;
        background: $cyan;
        z-index: 100;
        width: 38rem;
        height: 38rem;
        border-radius: $radius;
        //opacity: 0.5;
        cursor: pointer;
        opacity: 0;
        &:hover{
          opacity: .5;
          transition: $transition;
        }
        img{
          height: 3rem;
          width: 3rem;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          svg {
            fill: white;
          }
        }

      }

    }

    .card-info {
      padding: 2rem 0 0 0;

      .card-title {
        color: $white;
        cursor: pointer;

        &:hover {
          color: $cyan;
          transition: $transition;
        }
      }

      .card-description {
        font-size: 38px;
        color: $blue;
        opacity: 0.8;
      }

      .card-timer {
        border-bottom: 1px solid $blue;
        padding-bottom: 2.5rem;

        .card-price {
          @include flex-sb;

          .card-price-value {
            @include flex-start;
            color: $cyan;

            svg {
              height: 28px;
              padding: 6px 0 0 0;
            }

            p {
              margin: 0 0 0 1rem;
              font-size: 26px;
            }


          }

          .card-days {
            color: $blue;
            font-size: 26px;
            margin: 0;

            svg {
              padding: 3px 0 0 0;
            }
          }
        }

      }

      .card-footer {
        @include flex-start;

        img {
          margin: 2rem 2rem 0 0;
          border: 2px solid $white;
          border-radius: 50%;
          height: 4rem;
        }

        p {
          margin: 3rem 0 0 1rem;
          font-size: 26px;
          color: $blue;

          span {
            color: $white;
            cursor: pointer;

            &:hover {
              color: $cyan;
              transition: $transition;
            }
          }
        }
      }

    }

  }
}
